/* noto-sans-kr-regular - korean */
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 400;
	src:
		local(''),
		url('/fonts/noto-sans-kr-v27-korean-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/noto-sans-kr-v27-korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-500 - korean */
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 500;
	src:
		local(''),
		url('/fonts/noto-sans-kr-v27-korean-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/noto-sans-kr-v27-korean-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-700 - korean */
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;
	src:
		local(''),
		url('/fonts/noto-sans-kr-v27-korean-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/noto-sans-kr-v27-korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

